<div class="container" *ngIf="!selected">
    <form ngNativeValidate #form >

        <div class="row">

            <div class="col-2">
                <select id="type" name="type" class="form-select form-select-lg" [(ngModel)]="type">
                    <option>Choose type</option>
                    <option *ngFor="let i of types" [value]="i">{{i}}</option>
                </select>
            </div>

            <div class="col-2">
                <select id="city" name="city" class="form-select form-select-lg" [ngModel]="city" (ngModelChange)="setMunicipalityList($event)">
                    <option>Choose city</option>
                    <option *ngFor="let c of cities" [value]="c.name">{{c.name}}</option>
                </select>
            </div>

            <div class="col-3">
                <select id="municipality" name="municipality" class="form-select form-select-lg" [ngModel]="municipality" (ngModelChange)="setMicrolocationList($event)">
                    <option>Choose municipality</option>
                    <option *ngFor="let m of municipalities" [value]="m">{{m}}</option>
                </select>
            </div>
            
            <div class="col-3">
                <select id="microlocation" name="microlocation" class="form-select form-select-lg" [(ngModel)]="microlocation">
                    <option>Choose microlocation</option>
                    <option *ngFor="let m of microlocations" [value]="m.name">{{m.name}}</option>
                </select> 
            </div>

        </div>

        <div class="row mt-1">

            <div class="col-2">
                <input type="number" id="max_price" name="max_price" class="form-control form-control-lg" placeholder="Price do" [(ngModel)]="max_price" >
            </div>

            <div class="col-2">
                <input type="number" step="0.1" id="min_area" name="min_area" class="form-control form-control-lg" placeholder="Area od" [(ngModel)]="min_area" >
            </div>

            <div class="col-2">
                <select id="min_rooms" name="min_rooms" class="form-select form-select-lg" [(ngModel)]="min_rooms">
                    <option>Rooms(min)</option>
                    <option *ngFor="let r of room_nums" [value]="r">{{r}}</option>
                </select> 
            </div>

            <div class="col-2 offset-1">
                <button type="submit" class="btn btn-lg btn-block btn-secondary col-12" (click)="form.checkValidity() ? search():null">Search</button>
            </div>
        </div>
    </form>

    <span class="fs-3 text-success">{{success_message}}</span>
    <span class="fs-3 text-danger">{{error_message}}</span>

    <hr/>


    <div *ngIf="searched==true" class="data" >
        <div *ngFor="let r of real_estates | slice: (page-1) * pageSize : (page-1) * pageSize+pageSize">
            <app-estate-show-brief [real_estate]="r" (click)="showDetails(r)"></app-estate-show-brief>
            <hr/>
        </div>
        <ngb-pagination [collectionSize]="real_estates.length" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
    </div>

</div>

<div *ngIf="selected">
    <app-estate-show-details [real_estate]="selected" [deSelect]="this.deSelect.bind(this)"></app-estate-show-details>
</div>