.register{
    background-color: #508bfc;
    background-image: url("../../../assets/images/sk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}