.navbar{
    background-color: gray;
}

.nav-link{
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: black;
}

li{
    list-style-type: none;
}

.link:active,
.link:focus,
.link:hover{
    background-color: black;
}